---
version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    ports:
    # To learn about configuring Kafka for access across networks see
    # https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  customer-db:
    image: mongo:latest
    container_name: customer-db
    ports:
      - "2717:27017"
    volumes:
      - /Users/aky/Dev/swiggy/training-i-plus-plus/akash/mini-project/customer/db/mongo-files:/data/db

  product-db:
    image: mongo:latest
    container_name: product-db
    ports:
      - "2718:27017"
    volumes:
      - /Users/aky/Dev/swiggy/training-i-plus-plus/akash/mini-project/products/db/mongo-files:/data/db

  order-db:
    image: mongo:latest
    container_name: order-db
    ports:
      - "2719:27017"
    volumes:
      - /Users/aky/Dev/swiggy/training-i-plus-plus/akash/mini-project/order/db/mongo-files:/data/db