@import  '../../styles.scss';

.site-header{
  img{
    width: 20em;  
  }
  color: white;
  //position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $second-color;
  box-shadow: 0 1px 20px transparentize($second-color, 0.5);
  z-index: 100;
}