@import  '../../../styles.scss';

  table{
      width: 100%;
      height: 100%;
      margin-top: .5em;
  }
  
  .mat-row:hover {
    background-color: $main-color;
    color: $light-text-color;
  }
